<%- include('../layouts/header.ejs') %>


   
<form action="/logout"><button class="btn btn-success mt-1" >logout</button></form><br><br>
        
<h1 style="color:beige">Welcome user home</h1>

<%- include('../layouts/footer.ejs') %>